* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*supprimer marge bordure etc*/
}



.takee
{
    font-size: 20px; 
    color: #fff;
    margin-left: 52px;
    text-align: center;
    margin-top: -25px;
    font-style: italic;
    float: right;
    position: absolute;

}
body
{
    
    background-image: url(img/masthead.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#one
{
    
    text-align: center;
    float: none;
    color: white;
    margin-top: 330px;
    margin-right: 640px;
    font-size: 40px;    
   font-family: 'Open Sans', sans-serif;




}

.lorem
{
    
    text-align: center;
    color: #fff;
    margin-right: 780px;
    
}


.design
{
    
    width: 220px;
    height: 176px;
    background-color: rosybrown;
    color: white;
    margin-left: 100px;
    text-align: center;
    margin-top: 200px;
          font-size: 20px;

}
.built
{
    
    width: 220px;
    height: 176px;
    background-color: darkblue;
    color: white;
    margin-left: 321px;
    text-align: center;
    margin-top: -175px;
          font-size: 20px;

}

.sign
{
    
     
    width: 220px;
    height: 176px;
    background-color:#339999;
    color: white;
    margin-left: 540px;
    text-align: center;
    margin-top: -172px;
          font-size: 20px;
    position: absolute;

}



.iphone
{
    
    float: right;
    margin-top: -400px;
    margin-right: 70px;
}


.lorem2
{
   
    color: #777;
    margin-top: 50px;
    margin-left: 172px;
    
    
    
}


h2
{
    text-align: center;
     margin-top: 400px;
    margin-left: 180px;
       font-family: 'Open Sans', sans-serif;

    
    
}

.lorem3
{
    
    color: #777;
    float: right;
    margin-top: -42px;
    margin-right: 78px;
    
    
}

.bgg
{
    

    float: right;
    width: 221px;
    height: 174px;
    margin-top: -174px;
    margin-right: 756px;
    
   font-family: 'Open Sans', sans-serif;
}

.img2
{
    
width: 440PX;
height: 170px;
    margin-left: 100px;
    
   font-family: 'Open Sans', sans-serif;
    
}
.our
{
    
    
    text-align: center;
    position: absolute;
    margin-left: 560px;
    margin-top: -175px;
    color: #fff;
    font-size: 20px;
    
   font-family: 'Open Sans', sans-serif;
}
.sgg
{
    

    text-align: center;
    margin-left: 179px;
    margin-top: 4px;
    position: absolute;
    color: #fff;
    
}

.look
{
    
    font-family: 'Varela Round', sans-serif;
     color: black;
    margin-left: 278px;
    font-size: 20px;
    
}

.text1
{
    
    
    text-align: center;
    margin-left: -702px;
    color: #777;
    font-size: 20px;

}
.more {
    
margin-top: 508px;
    text-align: center;
    position: absolute;
    margin-left: 392px;
    font-size: 50px;
       font-family: 'Open Sans', sans-serif;
    color: #fff;

    
}
