* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*supprimer marge bordure etc*/
}



.takee
{
    color: white;
    float: right;
    margin-right: 1450px;
    text-align: center;
    margin-top: 9px;
    font-weight: bold;
    
}


body
{
    
    background-image: url(img/masthead.jpg)
}

#one
{
    
    text-align: center;
    float: none;
    color: white;
    margin-top: 330px;
    margin-right: 600px;
    font-size: 40px;    
   font-family: 'Open Sans', sans-serif;




}

.lorem
{
    
    text-align: center;
    color: #fff;
    margin-right: 600px;
    
}